/*.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #d3d3d3;
}*/
.navbar-fixed-top .nav {
    padding: 5px 0;
}
/* remove the color of nav background-color: #3c8dbc;*/
.navbar-default{
  background-color: #3c8dbc;
  color: #ffffff;
}

.navbar-default a{
  color: #fff;
}
/*work on logo*/
@media (max-width: 767px) { 
    .navbar-brand {
        padding: 0;        
    }
    .navbar-brand img {
        margin-top: 2px;
        margin-left: 2px;
    }
}

/*
 * Global add-ons
 */
a {
    text-decoration: none !important;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
/*edit*/


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    margin-top: 60px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222d32;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > li > a > .fa {
  padding-right: 10px;
}


.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 40px;
  padding-top: 60px;
}
@media (min-width: 767px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 40px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*for the search box*/

.input-container {
  position: relative;
  text-align: center;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 62px;
  padding-left: 20px;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="search"] {
  height: 40px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: #374850;
  border: 0;
  line-height: 40px;
  font-size: 14px;
  border-radius: 3px;
}

input[type="search"]:focus {
  
  background-color: #fff;
  
}
/*End search box*/

.keyline {
  position: relative;
  z-index: 2000;
  width: 100%;
  height: 5px;
  background: #1da1f2;
}
/*add space after the hero image
limit the width of the text*/
.jumbotron .container {
  margin-top: 30px;
}

@media (min-width: 1200px){
  .jumbotron .container{
      .width: 750px !important;
  }

}
/*for the home page*/
h4{
  line-height: 1.6;
}